**What exactly is []?**

Ans)The empty list represented by [] is a list that contains no items.

In [2]:
# Python program to declare
# empty list


a = []# list is declared

print("Values of a:", a)
print("Type of a:", type(a))
print("Size of a:", len(a))
a.append(1)
a.append(2)
print("Size of a:", len(a))

Values of a: []
Type of a: <class 'list'>
Size of a: 0
Size of a: 2

**In a list of values stored in a variable called spam, how would you assign the value 'hello' as the third value? (Assume [2, 4, 6, 8, 10] are in spam.)**

Ans)spam[2]='hello' (Note: Lists follows zero based indexing)

In [3]:
# Example
spam=[2,4,6,8,10]
print(spam)
spam[2]='hello'
print(spam)

[2, 4, 6, 8, 10]
[2, 4, 'hello', 8, 10]

**Let&#39;s pretend the spam includes the list [&#39;a&#39;, &#39;b&#39;, &#39;c&#39;, &#39;d&#39;] for the next three queries.**

 **What is the value of spam[int(int(&#39;3&#39; * 2) / 11)]?**

 Ans)The inside expression will be geives the anser as 3.so it will return the output of spam[3] which is 'd'

In [6]:
spam=['a','b','c','d']
print(spam[int(int('3'*2)//11)])

d

**What is the value of spam[-1]?**

Ans)It is same as spam[len(spam)-1] so spam[-1] represents the last element of the list.

In [9]:
spam=['a','b','c','d']
print(spam[-1])

d

**What is the value of spam[:2]?**

Ans)spam[:2] returns all elements in the list spam from 0 to 2 excluding 2.

In [11]:
spam=['a','b','c','d']
print(spam[:2])

['a', 'b']

**Let&#39;s pretend bacon has the list [3.14, &#39;cat,&#39; 11, &#39;cat,&#39; True] for the next three questions.**

**What is the value of bacon.index(&#39;cat&#39;)?**

Ans)The index function will returns the index of the particular element which is been mentioned.If there are duplicates it will return the first most because the function starts from the first point to the end point.

In [13]:
bacon=[3.14,'cat',11,'cat',True]
print(bacon.index('cat'))

1

**How does bacon.append(99) change the look of the list value in bacon?**

Ans)the append method adds new elements to the end of the list

In [15]:
print(bacon)
print(len(bacon))
bacon.append(99) # appends 99 to the end of the list
print(bacon)
print(len(bacon))

[3.14, 'cat', 11, 'cat', True, 99]
6
[3.14, 'cat', 11, 'cat', True, 99, 99]
7

**How does bacon.remove('cat') change the look of the list in bacon?**

Ans)the remove method of the list removes the first occurence of the element in the list

In [16]:
print(bacon)
bacon.remove('cat')
print(bacon)

[3.14, 'cat', 11, 'cat', True, 99, 99]
[3.14, 11, 'cat', True, 99, 99]

**What are the list concatenation and list replication operators?**

Ans)

**List Concatenation**: Using the + operator, you can combine two lists.

**List Replication**: Using the * operator, you can repeat the elements of a list a specified number of times.

In [18]:
#List Concatenation
list1 = [1, 2, 3]
list2 = [4, 5, 6]
combined = list1 + list2
print(combined)  # Output: [1, 2, 3, 4, 5, 6]

[1, 2, 3, 4, 5, 6]

In [19]:
#List Replication
list1 = [1, 2, 3]
replicated = list1 * 3
print(replicated)  # Output: [1, 2, 3, 1, 2, 3, 1, 2, 3]

[1, 2, 3, 1, 2, 3, 1, 2, 3]

**What is difference between the list methods append() and insert()?**

Ans)Both append() and insert() are methods that can be used with Python lists to add elements, but they serve different purposes:

**Append()**:The append() method is used to add an element to the end of the list.
It takes one argument, which is the element you want to add.

**Insert():**The insert() method is used to add an element at any position in the list.It takes two arguments:

The first argument is the index at which the element needs to be added.

The second argument is the element you want to add.

In [20]:
#append
numbers = [1, 2, 3]
numbers.append(4)
print(numbers)  # Output: [1, 2, 3, 4]

[1, 2, 3, 4]

In [21]:
#insert
numbers = [1, 2, 4]
numbers.insert(2, 3)  # Insert the number 3 at index 2
print(numbers)  # Output: [1, 2, 3, 4]

[1, 2, 3, 4]

**What are the two methods for removing items from a list?**

Ans)
**Remove()**:

The remove() method removes the first occurrence of a value (not an index) from the list.
If the specified value is not found, it raises a ValueError.

**Syntax**:

**list.remove(value)**

**pop():**

The pop() method removes the item at a specified index and returns that item.If no index is provided, it removes and returns the last item in the list.If the specified index is out of range, it raises an IndexError.

**Syntax**:

list.pop([index]) where index is optional.

In [22]:
#remove
numbers = [1, 2, 3, 4, 3]
numbers.remove(3)
print(numbers)  # Output: [1, 2, 4, 3]

[1, 2, 4, 3]

In [24]:
#pop
numbers = [1, 2, 3, 4]
popped_value = numbers.pop(2)
print(numbers)      # Output: [1, 2, 4]
print(popped_value) # Output: 3

[1, 2, 4]
3

In [25]:
# assign list
numbers = [1, 2, 3, 2, 3, 4, 5]

# use del
del numbers[2]

numbers

[1, 2, 2, 3, 4, 5]

**Describe how list values and string values are identical.**

Ans)

Below are some reasons how list values and string values are identical:

**Indexing:**

Both lists and strings support indexing to access individual elements or characters.

**Slicing:**

You can use slicing to access a subset of a list or a substring.

**Iterability:**

Both strings and lists are iterable, meaning you can loop over their elements using a for loop.

**Concatenation:**

You can concatenate (join together) two lists or two strings using the + operator.

**Replication:**

Both lists and strings can be replicated using the * operator.

**Membership Testing:**

The in and not in operators can be used to check for the existence of a value or substring in a string or list.

**Length:**

The built-in len() function can be used to determine the number of elements in a list or characters in a string.

In [26]:
#indexing
my_string = "hello"
print(my_string[1])  # Output: e

my_list = [1, 2, 3, 4, 5]
print(my_list[1])   # Output: 2

e
2

In [27]:
#slicing
my_string = "hello"
print(my_string[1:4])  # Output: ell

my_list = [1, 2, 3, 4, 5]
print(my_list[1:4])   # Output: [2, 3, 4]

ell
[2, 3, 4]

In [29]:
#iterability
for char in "hello":
    print(char)

for item in [1, 2, 3, 4, 5]:
    print(item)

h
e
l
l
o
1
2
3
4
5

In [30]:
#concatenation
print("hello" + "world")    # Output: helloworld
print([1, 2] + [3, 4])     # Output: [1, 2, 3, 4]

helloworld
[1, 2, 3, 4]

In [31]:
#Replication
print("hello" * 3)  # Output: hellohellohello
print([1, 2] * 3)   # Output: [1, 2, 1, 2, 1, 2]

hellohellohello
[1, 2, 1, 2, 1, 2]

In [32]:
#Membership Testing
print("e" in "hello")    # Output: True
print(2 in [1, 2, 3])    # Output: True

True
True

In [33]:
#Length
print(len("hello"))      # Output: 5
print(len([1, 2, 3, 4])) # Output: 4

5
4

**What&#39;s the difference between tuples and lists?**

Ans)
Tuples and lists are both used to store collections of items in Python, but they have some key differences:

**Mutability:**

**List**: Lists are mutable, which means you can modify their content by adding, removing, or changing elements after the list is created.

Tuple: Tuples are immutable, which means once a tuple is created, you cannot modify its content. You can't add, remove, or change elements in a tuple.

In [35]:
my_list = [1,2,3,4]
my_num = (1,2,3,4)

print(my_list)
print(type(my_list))
print(my_num)
print(type(my_num))

[1, 2, 3, 4]
<class 'list'>
(1, 2, 3, 4)
<class 'tuple'>

**How do you type a tuple value that only contains the integer 42?**

Ans)If you want to create a tuple containing just the integer 42, you need to include a comma after the 42, even before the closing parenthesis. This distinguishes it as a tuple rather than a simple parenthesized number.

In [36]:
integer=(42)
tup1=(42,)
print(type(integer))
print(type(tup1))

<class 'int'>
<class 'tuple'>

**How do you get a list value&#39;s tuple form? How do you get a tuple value&#39;s list form?**

Ans)To convert a list value to its tuple form and vice versa:

In [38]:
#List to Tuple:
#You can use the built-in tuple() function to convert a list into a tuple.
my_list = [1, 2, 3, 4]
tuple_form = tuple(my_list)
print(tuple_form)  # Output: (1, 2, 3, 4)

#Tuple to List:
#You can use the built-in list() function to convert a tuple into a list.
my_tuple = (1, 2, 3, 4)
list_form = list(my_tuple)
print(list_form)  # Output: [1, 2, 3, 4]

(1, 2, 3, 4)
[1, 2, 3, 4]

 **Variables that &quot;contain&quot; list values are not necessarily lists themselves. Instead, what do they
contain?**

Ans)
Variables that "contain" list values don't actually contain the list itself. Instead, they contain references or pointers to the location in memory where the list is stored.

**How do you distinguish between copy.copy() and copy.deepcopy()?**

Ans)

**copy.copy() - Shallow Copy**:

It returns a new compound object that's a copy of the original, but it doesn't create copies of the objects that the compound object references.For mutable collections like lists or dictionaries, a shallow copy creates a new collection with references to the same items as the original collection.

**copy.deepcopy() - Deep Copy:**

It returns a new compound object that's a copy of the original, and it also recursively copies all the objects found inside the original compound object. This means there's no shared reference or memory location for any item between the original and the new object.

In [39]:
import copy
lst1 = [[1, 2, 3], [4, 5, 6]]
lst2 = copy.copy(lst1)
lst2[0][0] = 99
print(lst1)  # Output: [[99, 2, 3], [4, 5, 6]]

[[99, 2, 3], [4, 5, 6]]

In [40]:
import copy
lst1 = [[1, 2, 3], [4, 5, 6]]
lst3 = copy.deepcopy(lst1)
lst3[0][0] = 99
print(lst1)  # Output: [[1, 2, 3], [4, 5, 6]]

[[1, 2, 3], [4, 5, 6]]