**Python Basic Assignment-1 Solution**

**In the below elements which of them are values or an expression? eg:- values can be
integer or string and expressions will be mathematical operators.**

*,
&#39;hello&#39;,
-87.8,
-,
/,
+,
6.



Ans)

**Value**:A value represents a specific piece of data. It's an entity that doesn't vary. Examples include numbers like 42, floating-point numbers like 3.14, or strings like "hello". Every value belongs to a specific type, such as an integer, a real number, or a string.In programming, you can think of a value as something that would be assigned to a variable or returned by a function.

**expression**:An expression is a combination of one or more values, operators, and variables that the programming language interprets (or evaluates) to produce another value. In other words, an expression is a piece of code that, when executed, results in a value.

So in the given Question there are 4 operators and 3 values:

**operators**-*,-,/,+

**values**-'hello',-87.8,6

**What is the difference between string and variable?**

Ans)

**String**-A string is a data type used in programming, used to represent and manipulate a sequence of characters, such as letters, numbers, and symbols.

** For example**: Example: "Hello, World!" is a string because it's a sequence of characters enclosed within double quotes.

**variable**-A variable is a symbolic name associated with a value and a memory location in a computer's memory. This value can change over time, which is why it's called a "variable".

 A string is a type of data representing text, whereas a variable is a way to store and reference that data (or any other type of data) in a program.

In [2]:
greeting = "Hello, World!"#where the "hello,world!" is an string and the greeting is the variable representing the String DataType
print(greeting)

Hello, World!

**Describe three different data types.**

Ans)

**Boolean**:A boolean data type can have one of two values: true or false. It's named after George Boole and represents the two truth values of Boolean logic.

**Integer**:An integer is a whole number that can be either positive, negative, or zero. It does not have a decimal point.

**Floating Point**: Floating point numbers, or floats, represent real numbers (both rational and irrational). They include integers, fractions, and decimals and have a decimal point or an exponent (or both).

In [ ]:
#boolean
is_student = True
print(is_student)
print(type(is_student))
#int
a=12234
print(a)
print(type(a))
#floating point
b=12.34
print(b)
print(type(b))

True
<class 'bool'>
12234
<class 'int'>
12.34
<class 'float'>

**What is an expression made up of? What do all expressions do?**

Ans)

In programming, an expression is a combination of one or more values, variables, operators, and functions that the programming language interprets  to produce another value. This includes simple types like numbers and strings, but can also be more complex expressions that evaluate to a value of some sort, be it a number, string, boolean, or another data type.

**Components of an Expression:**

**Values**: These are the basic, unchanging values used in expressions. For instance, numbers like 2, 3.14, or strings like 'Hello' are literals.

**Variables**: Named memory locations that store values. A variable can appear in an expression, and its current value is used in the evaluation.

**Operators**: Symbols that perform operations on one or more operands. Common operators include:

**Functions**: Predefined sets of instructions that take in zero or more arguments and return a value after processing them.

**Parentheses**: Used to group parts of an expression and determine the order of evaluation.

For instance, in the expression 3 + 4 * 2, the value is 11 if you follow typical mathematical conventions where multiplication has a higher precedence than addition. If you used parentheses like (3 + 4) * 2, the expression would evaluate to 14.

In short, expressions are building blocks of code that let you do computations, make decisions, and process data. They are fundamental to almost every non-trivial operation in programming.

In [9]:
#this examplle will be determining the importance of paranthesis
a=(3+4)/(7*3)
print(a)

b=3+4/7*3
print(b)

0.3333333333333333
4.714285714285714

**After running the following code, what does the variable bacon contain?**

**bacon = 22**

**bacon + 1**

Ans)The Value will be 22 because we are not assign the value while we are adding it by 1.The variable bacon is initially assigned the value 22. In the next line, the expression bacon + 1 calculates the value 23, but this result is not assigned back to the variable bacon or any other variable. Therefore, the value of bacon remains unchanged.

After running the code, the variable bacon contains the value 22.

In [ ]:
bacon = 22
bacon + 1
print(bacon)

22

**What should the values of the following two terms be?**


**&#39;spam&#39; + &#39;spamspam&#39;**


 **&#39;spam&#39; * 3**

 Ans)The first expression follows String Concatentation and the second expression follows String Multiplication.

 Let's evaluate the two terms:

'spam' + 'spamspam':
This is a string concatenation. It will concatenate (join together) the two strings.
Result: 'spamspamspam'

'spam' * 3:
This is string replication. It will produce the string 'spam' repeated 3 times.
Result: 'spamspamspam'

For both terms, the result is 'spamspamspam'.

In [ ]:
print('spam' + 'spamspam')#String Concatentation

spamspamspam

In [ ]:
print('spam'*3)#string multiplication

spamspamspam

**Why is eggs a valid variable name while 100 is  invalid?**

Ans)The Variable names follows the rules of an Identifier.According to the rules of Identifier the Variable name should not start with a number.So the eggs a valid variable name while 100 is invalid.

And also other variable rules are:

1.Variable name must start with a letter or the underscore character.

2.Variable name cannot start with a number.

3.Variable name can only contain alpha-numeric characters and underscores.

4.Variable names are case-sensitive.

5.The reserved words cannot be used naming the variable.

In [ ]:
egg='varun' # Valid variable Initilization
100='varun' # Invalid Variable Initilization
print(egg) #prints the value of egg ie Ineuron
print(100) # Raises a Syntax Error as 100 is not a valid variable name

SyntaxError: ignored

**What three functions can be used to get the integer, floating-point number, or string version of a value?**

Ans)
int()-functions will evaluate to the integer

float()-functions will evaluate to the float

str()-functions will evaluate to the string version of a value.

**int()** - Convert to Integer:

The int() function is used to convert a value to an integer type. It can be applied to both floating-point numbers and strings, provided that the strings represent valid integers.

**From floating-point to integer**: When converting from a float to an integer using int(), the decimal part is truncated (i.e., it doesn't round off, but simply drops the decimal part).
Example: int(3.14) will return 3, and int(3.99) will return 3.

**From string to integer**: When converting from a string, the string should represent a valid integer (without any decimal points).
Example: int("42") will return 42. However, attempting int("3.14") will raise a ValueError because "3.14" is not a valid string representation of an integer.


**float()** - Convert to Floating-point Number:

The float() function is used to convert a value to a floating-point number. You can apply it to integers and strings, provided that the strings represent valid numbers.

**From integer to floating-point**: Converts an integer to its floating-point representation.
Example: float(3) will return 3.0.

**From string to floating-point**: The string should represent a valid number, either integer or float.
Example: float("3.14") will return 3.14 and float("42") will return 42.0. An invalid number string, like float("apple"), will raise a ValueError.

**str()** - Convert to String:

The str() function is used to convert a value to its string representation. Practically any value in Python can be converted to a string.

**From integer to string**: Converts an integer to its string representation.
Example: str(42) will return "42".

**From floating-point to string**: Converts a floating-point number to its string representation.
Example: str(3.14) will return "3.14".

Other types to string: str() can also convert other data types like lists, dictionaries, etc., to their string representation. It's a general way to obtain the human-readable representation of a value in Python.
Example: str([1, 2, 3]) will return "[1, 2, 3]".

In [ ]:
i=9
f=9.0
s="9"
print(type(i))
print(type(f))
print(type(s))
a=int(s)#convert the string to int
print(type(a))
b=float(i)#convert to int to float
print(type(b))
c=str(i)#convert to int to string
print(type(c))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'int'>
<class 'float'>
<class 'str'>

**Why does this expression cause an error? How can you fix it?**

**&#39;I have eaten &#39; + 99 + &#39; burritos.&#39;**

Ans)The error due to 99 because addition must be done between Homogenous data types.So first one and last one are String and middle one is Integer.Addition is not possible and the error is Incompatible types.

In [ ]:
print('I have eaten'+99+'burritos')

TypeError: ignored

In [ ]:
#so convert the 99 to string
print('I have eaten '+str(99)+' burritos')

I have eaten 99 burritos